<div class="login-container">
  <mat-card class="login-card animate">
    <div class="logo">
      <h1>Lais Ribeiro</h1>
      <p>Painel Administrativo</p>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput [(ngModel)]="username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput [(ngModel)]="password" type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">Entrar</button>
  </mat-card>
</div>
