<section class="atendimentos-hoje">
  <h2 class="subtitulo">Atendimentos de Hoje</h2>

  <ul class="lista-atendimentos">
    <li class="atendimento" *ngFor="let ag of agendamentos">
      <div class="horario">{{ ag.appointment_time }}</div>

      <div class="cliente-info">
        <mat-icon class="icone-servico">event</mat-icon>
        <div>
          <strong>{{ ag.client_name }}</strong>
          <span>{{ ag.service_type }}</span>
        </div>
      </div>

      <div class="acoes">
        <button class="botao finalizar" (click)="finalizarAgendamento(ag.id!)">Finalizar</button>
      </div>
    </li>
  </ul>
</section>
